@model List<Deneme.DAL.Entities.Kategori>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">

    <tr>
        <th>
            <b>Kategori Adı</b>
        </th>
        <th>
            <b>Kategoriye Ait Kitaplar</b>
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.KategoriAdi
        </td>
        <td>
            @foreach (var item2 in item.Kitaplar.ToList())
            {
                @item2.KitapAdi 
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
